*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../assets/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  color: white;
  display: grid;
}

.container {
  display: flex;
  justify-content: space-around;
  height: 60vh;
  padding: 5vw;
  gap: 5rem;
  margin: auto auto;
  position: relative;
}

.right,
.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right {
  height: 35vh;
  align-self: center;
}

.left {
  min-width: 300px;
}
.town {
  margin-top: 0.25rem;
}
.weather-type {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
.temp {
  font-size: 2rem;
  margin: 0.5rem 0;
}
.date {
  margin: 0.25rem 0;
}
.temp-toggle {
  font-size: 0.875rem;
}

.search-container {
  display: flex;
  border-bottom: 3px solid white;
  max-width: 175px;
}
input,
input:focus,
input:focus-visible {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  line-height: 25px;
  width: 85%;
  text-align: center;
}

input::placeholder {
  color: white;
}

input:focus::placeholder {
  color: transparent;
}

.data-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icon-info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50px;
}

.icon-info > img {
  height: 35px;
  width: 35x;
}
.search-icon {
  width: 20px;
}

.icon-info > .wind__img {
  height: 28px;
  width: 28x;
}

.temp-toggle {
  cursor: pointer;
}

.weather-icon {
  width: 125px;
  padding: 1rem 0;
}
