*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../assets/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  height: 100vh;
  color: white;
}

.container {
  display: flex;
  justify-content: space-around;
}

input,
input:focus,
input:focus-visible {
  background: transparent;
  border: none;
  border-bottom: 3px solid white;
  outline: none;
  color: white;
}

input::placeholder {
  color: white;
}

input:focus::placeholder {
  color: transparent;
}

.data-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icon-info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50px;
}

.icon-info > img {
  height: 35px;
  width: 35x;
}

.icon-info > .wind__img {
  height: 28px;
  width: 28x;
}
